#profile{
    padding-top: 50px;
    padding-left: 50px;
    margin-left: 200px;
    margin-top:50px;
    background-color:rgb(255,255,255);
    /*margin-right: 5px;
    margin-left: 5px;*/
    width: 65%;
    /*width: 1200px; */
    height: auto;

}
.addedstarform{
    display: inline;
}
.startotaldiv{ 
    display: flex;
    width: 70%;
    justify-content:space-around;
    border: 1px black solid;
}
.starwithpointdiv{
    width: 50%;
}
.addedstarform{
    width: 50%;
}
#mainaddedstar{
    margin-top: 10vh ;
}